*~
/data
/build
/doxygen
*.tsv
/sim_imgs
*.so
*kdev4*
*.caffemodel
*.caffemodel.h5
*.pyc
*.out
*.zip
plot*

simulator/*~
simulator/data
simulator/build*
simulator/doxygen
simulator/*.tsv
simulator/sim_imgs
simulator/*.so
simulator/*kdev4*
simulator/*.caffemodel
simulator/*.caffemodel.h5
simulator/*.pyc
simulator/*.out
simulator/*.zip
simulator/envs/*.swp

/tasks/R2R/data/*.json
/tasks/R2R/plot*
/tasks/R2R/results/
/tasks/R2R/snapshots/
/tasks/R2R/data/v1
/tasks/R2R/*.swp
/tasks/R2R/follower/
/tasks/R2R/speaker/
/tasks/R2R/follower_traj/

/tasks/R4R/data/*.json
/tasks/R4R/plot*
/tasks/R4R/results/
/tasks/R4R/snapshots/
/tasks/R4R/data/v1
/tasks/R4R/*.swp
/tasks/R4R/follower/
/tasks/R4R/speaker/
/tasks/R4R/follower_traj/

/model/*.swp
# intellij
.idea/
*.iml

img_features
/run_script.sh
/val_all.bash
/val_all.sh
